<div class="sign-up">
  <div class="container">
    <div class="card signup-card">
      <div class="row">
        <h2 class="center signup-header">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-field col s8 offset-s2 signup-input">
          <%= f.label :'First Name' %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="input-field col s8 offset-s2 signup-input">
          <%= f.label :'Last Name' %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="input-field col s8 offset-s2 signup-input">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="input-field col s8 offset-s2 signup-input">
          <%= f.label :'password (6 characters minimum)' %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="input-field col s8 offset-s2 signup-input">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions col s12">
          <%= f.submit "Sign up", :class => 'btn view-button' %>
        </div>
        <% end %>
        <div class="col s12">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
