<div class="row job-detail-row">
  <div class="col s8 offset-s2 ">
    <div class="card job-card">
      <h2 class="center detail-title"><%= @job.title %></h2>
      <br>
      <h3 class='center detail-location'><%= @job.location %></h3>
      <br>
      <h4 class="center detail-job_type"><%= @job.job_type%></h4>
      <br>
      <% if @job.duration != '' %>
        <h5 class="center detail-duration"><%= @job.duration %></h5>
      <% end %>
      <br>
      <h4 class="center detail-compensation"><%= @job.compensation %></h4>
      <br>
      <h5 class="detail-skills"><strong>Skills:</strong> <%= @job.skills %></h5>
      <br>
      <h5 class="detail-description-head"><strong>Description:</strong></h5>
      <br>
      <h5 class="detail-description"><%= @job.description %></h5>
      <% if can? :edit, Job %>
        <%= link_to 'Edit Job', edit_job_path(@job), :class => 'btn btn-defualt' %>
      <% end %>
      <div class="btn btn-defualt">Apply</div>
    </div>
  </div>
</div>
