<div class="candidates">
  <div class="container">
    <% if !@users.any? %>
    <div class="row no-users">
      <div class="col s8 offset-s2 ">
        <div class="card">
          <h2>There are currently no candidates.</h2>
        </div>
      </div>
    </div>
    <% else %>
      <div class="row candidate-table">
        <h2 class="candidates-list center">Candidate List</h2>
        <div class="col s12 user-table">
          <table class="table hover striped bordered">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user|%>
                <tr data-link='<%= user_path(user)%>' class = 'table-rows' >
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.phone_number %></td>
                  <td><%= user.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
