<!DOCTYPE html>
<html>
  <head>
    <title>Hello Recruit</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="my-nav">
      <%= link_to 'HelloRecruit', root_path, :id => 'hello-header' %>
      <% if !user_signed_in? %>
        <li class='nav-links'><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class='nav-links'><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
      <% if user_signed_in? %>
      <li class='nav-links'><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
      <li class='nav-links'><%= link_to 'Profile', user_path(current_user) %></li>
        <% if can? :manage, :all %>
          <li class='nav-links'><%= link_to 'Candidates', users_path %></li>
          <li class='nav-links'><%= link_to 'Add Job', new_job_path %></li>
        <% end %>
      <% end %>
      <li class='nav-links'><%= link_to 'Jobs', jobs_path %></li>
    </div>
    <%= yield %>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Hello Recruit</h5>
            <p class="grey-text text-lighten-4">Established in 2017, we pride ourselves on the connections we have and the ones we continue to make. Be sure to follow us on Twitter, Facebook, and LinkedIn</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contact Us</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="fa canter-align fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="fa canter-align fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="fa canter-align fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="fa canter-align fa-envelope-open" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container copy">
        &copy; 2017 Hello Recruit
        <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('.dropdown-button').dropdown({
        hover: false
      });
      $("#job_job_type_contract").click(function() {
        $('#duration_field').slideDown();
      });
      $("#job_job_type_temp_to_hire").click(function() {
        $('#duration_field').slideUp();
        $('input#job_duration').val('');
      });
      $("#job_job_type_direct_hire").click(function() {
        $('#duration_field').slideUp();
        $('input#job_duration').val('');
      });
      $("tr[data-link]").click(function() {
        window.location = this.dataset.link;
      });
      var availableSkills = [
        "HR",
        "Git",
        "Bash",
        "Management",
        "Ruby",
        "Ruby on Rails",
        "JavaScript"
      ];
      $('input.autocomplete').autocomplete({
        source: availableSkills,
        multiple: {
          enable: true,
          maxSize: 10
        },
        limit: 20
      });
    </script>
  </body>
</html>
