<!DOCTYPE html>
<html>
  <head>
    <title>Hello Recruit</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="splash">
      <div id="image-column"></div>
      <h2 id="hello_recruit-head">HelloRecruit</h2>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <% if !user_signed_in? %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
      <% if user_signed_in? %>
        <% if can? :manage, :all %>
        <a class='admin-dropdown' href='#' data-activates='dropdown1'>Admin <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to 'Add Job', new_job_path %></li>
            <li><%= link_to 'Candidates', users_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
          </ul>
        <% end %>
        <li><%= link_to 'Profile', user_path(current_user) %></li>
      <% end %>
      <nav>
        <ul class="right">
          <li></li>
          <li></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $('.admin-dropdown').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false,
        hover: true,
        gutter: 0,
        belowOrigin: false,
        alignment: 'left',
        stopPropagation: false
      }
    );
      $("#job_job_type_contract").click(function() {
        $('#duration_field').slideDown();
      });
      $("#job_job_type_temp_to_hire").click(function() {
        $('#duration_field').slideUp();
        $('input#job_duration').val('');
      });
      $("#job_job_type_direct_hire").click(function() {
        $('#duration_field').slideUp();
        $('input#job_duration').val('');
      });
      $("tr[data-link]").click(function() {
        window.location = this.dataset.link;
      });
      var availableSkills = [
        "HR",
        "Git",
        "Bash",
        "Management",
        "Ruby",
        "Ruby on Rails",
        "JavaScript"
      ];
      $('input.autocomplete').autocomplete({
        source: availableSkills,
        multiple: {
          enable: true,
          maxSize: 10
        },
        limit: 20
      });
    </script>
  </body>
</html>
