<!DOCTYPE html>
<html>
  <head>
    <title>Hello Recruit</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
        <% end %>
      <% end %>
    </ul>
    <div class="nav-head navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div id="initials">
            <%= link_to 'Hello Recruit', root_path, :class => 'brand-logo' %>
          </div>
          <a href="#"  data-activates="mobile-demo" class="button-collapse"><i class="medium material-icons">reorder</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'Jobs', jobs_path %></li>
            <% if user_signed_in? %>
              <% if current_user.admin == true %>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="flashes">
        <p class="notice"><%= flash[:notice] %></p>
        <p class="alert"><%= flash[:alert] %></p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
